.kycTabList li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kycTabList li:not(:last-child)::before{
    position: absolute;
    content: '';
    height: 1px;
    width: 500px;
    background: #96a0af;
    top: 20px;
    left: 50px;
    z-index: auto;
}